<div class="container mt-4">
    <h4>Insumos</h4>
    <table class="table table-bordered table-hover table-sm">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Insumo</th>
                <th>Costo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let insumo of insumos; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ insumo.nombre }}</td>
                <td>
                    <input type="number"
                        [value]="insumo.costo"
                        step="0.01"
                        class="form-control form-control-sm"
                    />
                </td>
            </tr>
        </tbody>
    </table>
</div>