<div class="container mt-4">
    <h4>Cajas</h4>
    <table class="table table-bordered table-hover table-sm">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Costo</th>
                <th>Tallos</th>
                <th>Volumen</th>
                <th>Peso</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let caja of cajas; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ caja.nombre }}</td>
                <td>
                    <input
                        type="number"
                        [value]="caja.costo"
                        step="0.01"
                        class="form-control form-control-sm"
                    />
                </td>
                <td>
                    <input
                        type="number"
                        [value]="caja.tallos"
                        step="0.01"
                        class="form-control form-control-sm"
                    />
                </td>
                <td>
                    <input
                        type="text"
                        [value]="caja.volumen"
                        step="0.01"
                        class="form-control form-control-sm"
                    />
                </td>
                <td>
                    <input
                        type="number"
                        [value]="caja.peso"
                        step="0.01"
                        class="form-control form-control-sm"
                    />
                </td>
                <td>
                    <input
                        type="text"
                        [value]="caja.descripcion"
                        step="0.01"
                        class="form-control form-control-sm"
                    />
                </td>
            </tr>
        </tbody>
    </table>
</div>