<div class="container mt-4">
    <h4>Colores</h4>
    <table class="table table-bordered table-hover table-sm mt-3">
        <thead class="table-dark">
            <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Código</th>
            <!-- <th>Vista previa</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let color of colores; let i = index">
                <td>{{ i + 1 }}</td>
                <td>
                    <input type="text"
                    class="form-control"
                    [value]="color.nombre">
                </td>
                <td>
                    <input type="color"
                    class="form-control"
                    [value]="color.codigo">
                </td>

            </tr>
        </tbody>
    </table>
</div>